 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background-image: url('./Assets/Form-background-image-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
 }
.forms {
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.forms input {
    width: 350px;
    height: 50px;
    margin: 10px 10px;
    border-radius: 15px;
    opacity: 0.7;
    border: none;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: large;
    background-color: azure;
    color: black;

}
button {
    margin-left: 37.3%;
    width: 80px;
    height: 40px;
    margin-top: 15px;
    border-radius:20px ;
    border: none;
    color: black;
}
button:hover {
    background-color: dodgerblue;
    font-size: medium;
    color: azure;
}
input:focus {
    outline:none ;
    background-color: white;
}
input:hover {
    border: 2px solid ;
    border-color: red dodgerblue green yellow;
}